h1{
    margin-right: .5rem;
}

p{
    margin-bottom: .2rem;
}

table{
    border-collapse: collapse;
}

th{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
td{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
  }

.cuadrito{
    width: 20px;
    height: 20px;
    background: orange;
    margin-right: .5rem;
}

select::-ms-expand {
    display: none;
    }

.selectdiv{
    float: left;
    min-width: 200px;
}
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

input{
    margin-bottom: 2vmin;
}

.textbox{
    height: 2rem;
    width: 100%;
    max-width: 300px;
    margin-right: 2rem;
}

.main{  
    display: flex;

}
.Contenido{
    padding: 5rem;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.divisor{
    display: flex;
    flex-direction: column;
}

.parte1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:.5rem;
}

.file_icon{
    width: auto;
    height: 20px;
}

.div-botoncito{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoncito{
    color: black;
    height: 4vmin;
    border-radius: 10px;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;

    margin-bottom: 2vmin;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: chartreuse; /* default color */
    transition: background .35s;
}
.botoncito:hover{
    background: limegreen;
}