
{% extends  "ValidacionMaterias/base.html"  %}{%  load static  %}
{% block head %}
<link href="{% static 'ValidacionMaterias/css/Equivalencia.css' %}" rel="stylesheet" />
<link href="{% static 'ValidacionMaterias/css/Actualizar_tablas.css' %}" rel="stylesheet" />

<style>
  th,tr{
    font-size: 11px;
  }
  .editar{
    width: 1px; height:10px;
  }
</style>


{% endblock %}

{% block botones %}

{% endblock %}

{% block content  %}
<div class="centrar" id="titulo"><h1>TABLAS DE EQUIVALENCIA</h1></div>
<div >
  <a  id="regresar" href="{% url 'aplication:Equivalencia'%}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg> Regresar 
  </a>
</div>
<div class="centrar">
    <div class="item">
        <table class="table" id="tabla1"style=" width: 800px; height:600px; border-collapse: collapse;">

            <thead class="thead-dark">
              <tr>
                <td style="   background-color: rgb(40, 40, 40); color: white;" colspan="6" align="center">{{idplanDE.idCarrera}} - {{idplanDE.idPlanEstudio}}</td>
              </tr>
              <tr>
                <th style="width:100px;"scope="col">#Registro</th>
                
                <th scope="col">Clave</th>
                <th scope="col">Nombre Materia</th>
                <th scope="col">Etapa</th>
                <th scope="col">Tipo</th>
              </tr>
            </thead>
            <tbody >
              {%for r in Registro_Equivalencias%}
              <tr>
                <td >{{r.id}}</td>
                
                <td >{{r.mde.idMateria.ClaveMateria}}</td>
                <td >{{r.mde.idMateria.NombreMateria}}</td>
                <td >{{r.mde.idEtapa.NombreEtapa}}</td>
                <td >{{r.mde.idTipoMateria.NombreMateria}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
    
    <div class="item">
        <table id="tabla"  style=" width: 790px; height:300px;  border-collapse: collapse;">

            <thead class="thead-dark">
              <tr>
                <td style=" background-color: rgb(40, 40, 40); color: white;" colspan="7" align="center">{{idplanA.idCarrera}} - {{idplanA.idPlanEstudio}}</td>
              </tr>
              <tr>
                <th scope="col">#Registro</th>
                
                <th scope="col">Clave</th>
                <th scope="col">Nombre Materia</th>
                <th scope="col">Etapa</th>
                <th scope="col">Tipo</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              {%for r in Registro_Equivalencias%}
              <tr>
                <td >{{r.id}}</td>
                
                <td >{{r.ma.idMateria.ClaveMateria}}</td>
                <td >{{r.ma.idMateria.NombreMateria}}</td>
                <td >{{r.ma.idEtapa.NombreEtapa}}</td>
                <td >{{r.ma.idTipoMateria.NombreMateria}}</td>
                <td>
                  
                  <a class="editar"href="{% url 'aplication:update_Equivalencia' r.id  idplanDE.idPlanEstudioCarrera idplanA.idPlanEstudioCarrera 0 %}">
                    Editar
                </a>
                  
                </td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>



  
    {%  endblock   %}