{% extends "ValidacionMaterias/base.html" %} {% load static %} {% block head %}
<link href="{% static 'ValidacionMaterias/css/Subir_Kardex.css' %}" rel="stylesheet" />
<link href="{% static 'ValidacionMaterias/css/sidebar_buttons.css' %}" rel="stylesheet" />
{% endblock %} {% block botones %}

<div class="Botones">
	<button class="Side_bar_button" onclick="location.href = '/home'">HOME</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Materia_Plan'">Agregar Materia a Plan de Estudio</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Carrera_Plan'">Agregar Carrera a Plan de estudio</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Plan'">Agregar Plan de estudio</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Carrera'">Agregar Carrera</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Materia'">Agregar Materia</button>
	<button class="Side_bar_button" onclick="location.href = '/Equivalencia'">Equivalencia</button>
	<button class="Side_bar_button" onclick="location.href = '/Subir_Kardex'">Subir Kardex</button>

</div>

{% endblock %} {% block content %}
<!--- Seccion de busqueda por matricula-->
<form action="/Subir_Kardex/" method="POST" id="Buscar" enctype="multipart/form-data">{% csrf_token %}</form>
<form action="/Subir_Kardex/" method="POST" id="Subir">{% csrf_token %}</form>
<div class="Contenido">
	<div class="titulo">
		<div class="cuadrito"></div>
		<h1>Subir Kardex</h1>
		<div class="image-upload">
			<label for="file-input">
				<img class="file_icon" src="{% static 'ValidacionMaterias/img/file.png' %}" alt="" />
			</label>
			<input id="file-input" type="file" name="document" form="Buscar" onchange="this.form.submit();" />
		</div>
	</div>
	
	<div class="divisor">
		<div class="parte1">
			<div class="campo">
				<p>Nombre(s)</p>
				<input
					form="Subir"
					class="textbox"
					name="nombre"
					id="nombre"
					type="text"
					placeholder="Nombre(s)"
					value="{{nombre}}"
					required />
			</div>

			<div class="campo">
				<p>Apellido Paterno</p>
				<input
					form="Subir"
					class="textbox"
					name="ap_pat"
					id="ap_pat"
					type="text"
					placeholder="Apellido Materno"
					value="{{ap_pat}}"
					required />
			</div>

			<div class="campo">
				<p>Apellido Materno</p>
				<input
					form="Subir"
					class="textbox"
					name="ap_mat"
					id="ap_mat"
					type="text"
					placeholder="Apellido Materno"
					value="{{ap_mat}}"
					required />
			</div>
		</div>

		<div class="parte2">
			<div class="campo">
				<p>Carrera</p>
				<input
					form="Subir"
					class="textbox"
					name="carrera"
					id="carrera"
					type="text"
					placeholder="Carrera"
					value="{{carrera}}"
					required />
			</div>
		</div>

		<div class="parte2">
			<div class="campo">
				<p>Matricula</p>
				<input
					form="Subir"
					class="textbox"
					name="matricula"
					id="matricula"
					type="text"
					placeholder="Matricula"
					value="{{matricula}}"
					required />
			</div>
		</div>

		<div class="parte2">
			<div class="campo">
				<p>Plan de Estudios</p>
				<input
					form="Subir"
					class="textbox"
					name="plan_de_estudios"
					id="plan_de_estudios"
					type="text"
					placeholder="Plan de Estudios"
					value="{{plan_de_estudios}}"
					required />
			</div>
		</div>
	</div>
	<hr style="margin-bottom: 1rem" />
	<div class="titulo">
		<div class="cuadrito"></div>
		<h1>Materias</h1>
	</div>
	<div class="divisor">
		<table>
			<tr style="background: lightgray">
				<th>Clave</th>
				<th>Materia</th>
				<th>Calificacion</th>
				<th>Periodo</th>
				<th>Ordinario/Extraordinario</th>
				<th>Creditos</th>
			</tr>
			{% for materia in materias %}
			<tr>
				<td>{{materia.clave}}</td>
				<td>{{materia.materia}}</td>
				<td>{{materia.calif}}</td>
				<td>{{materia.periodo}}</td>
				<td>{{materia.tipo}}</td>
				<td>{{materia.creditos}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="div-botoncito">
		
		<input form="Subir" type="hidden" name="archivo" id="archivo" value="{{archivo}}">
		{% if bandera %}
		<input type="submit" form="Subir" name="boton_subir" class="botoncito" value="Continuar">
		{% else %}
		<input type="submit" form="Subir" name="boton_subir" class="botoncito" value="Continuar" disabled>
		{% endif %}
	</div>
</div>
{% endblock %} 
