{% extends "ValidacionMaterias/base.html" %} {% load static %} {% block head %}
<link href="{% static 'ValidacionMaterias/css/pdfview.css' %}" rel="stylesheet" />
<link href="{% static 'ValidacionMaterias/css/sidebar_buttons.css' %}" rel="stylesheet" />
{% endblock %} {% block botones %}

<div class="Botones">
	<button class="Side_bar_button" onclick="location.href = '/home'">HOME</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Materia_Plan'">Agregar Materia a Plan de Estudio</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Carrera_Plan'">Agregar Carrera a Plan de estudio</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Plan'">Agregar Plan de estudio</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Carrera'">Agregar Carrera</button>
	<button class="Side_bar_button" onclick="location.href = '/Agregar_Materia'">Agregar Materia</button>
</div>

{% endblock %} {% block content %}

<div><object class="pdfview_object" data="{% static 'ValidacionMaterias/pdfs/ejemplo.pdf' %}" type="application/pdf" ></object></div>


{% endblock %}
