h1{
    margin-bottom: 2vmin;
}

p{
    margin-bottom: .2rem;
}

select{
    margin: .7rem;
    height: 1.5rem;
}

input{
    margin-bottom: 2vmin;
}

.textbox{
    height: 1.5rem;
}

.Botones{
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

    margin:3vmin;
}

.Side_bar_button{
    background:black;
    color: white;
    height: 3vmin;

    margin-bottom: 2vmin;
}

.Side_bar_button:hover{
    background: gray;
}

.main{  
    display: flex;

}

.Contenido{
    padding: 5rem;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.mitad1{
    display: flex;
    justify-content: space-between;
}

.derecha1{
    width: 45vmin;
}

.cuadro{
    border: 2px;
    border-style: solid;
    border-color: orange;
    padding: 0.5rem;

}

.mitad2{
    
    margin-top: 5vmin;
    margin-left: 10vmin;
    display: flex;
    height:100%
}

#selects{
    display: flex;
    flex-direction: column;
}

.izquierda2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boton2{
    color: white;
    padding: .5rem;
    height: 2rem;
    border: 0;
}

   
